{% load static %}
<head>
    <!--The character set-->
    <meta charset="utf-8" />
    <!--Set the viewport to take the width of the device screen and the browser zoom set to default-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--The title of the webpage tab-->
    <title>Vroom Car Rentals</title>
    <link href="{% static 'vroom/style.css' %}" type="text/css" rel="stylesheet" />
    <!--Google font used for the website-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <!--The icon used for the wbpage tab-->
    <link rel="icon" href="{% static 'vroom/images/logo-blue.ico' %}" />
</head>
