{% extends "vroom/base.html" %}

{% block content %}
{% load static %}
<!--The main content of the webpage-->
<main>
    <!--First section of the main content. A banner which usually displays the most important information-->
    <section class="main-cont">
        <img src="{% static 'vroom/images/logo-white.png' %}" alt="" />
        <h2>History of a Store</h2><br>
        <div id="filters">
            <h4>Select a Store or Customer to View</h4>
            <form id="store-history-form" name="searchForm" method="GET" action="{% url 'vroom:storehistory' %}">
                <select name="store">
                    <option selected disabled>Select Store:</option> <!-- Display all the stores in a drop down box -->
                    {% for item in list_of_stores %}
                    {% if not item.name in selected_store_name %} <!-- If the store name is not the selected one -->
                    <option value={{ item.store_id }}>{{ item.name }}</option> <!-- Add it as a non-selected option -->
                    {% else %}
                    <option value={{ item.store_id }} selected>{{ item.name }}</option> <!-- Else Add it with a selected tag -->
                    {% endif %}
                    {% endfor %}
                </select>
                {% if request.session.access == "GENERAL_STAFF" %}
                <select name="user">
                    <option selected disabled>Select Customer:</option> <!-- Display all the customers in a drop down box -->
                    {% for item in list_of_users %}
                    {% if not item.name in selected_user_name %} <!-- If the store name is not the selected one -->
                    <option value="{{ item.name }}">{{ item.name }}</option> <!-- Add it as a non-selected option -->
                    {% else %}
                    <option value="{{ item.name }}" selected>{{ item.name }}</option> <!-- Else Add it with a selected tag -->
                    {% endif %}
                    {% endfor %}
                </select>
                {% endif %}
                {% if selected_store_id or selected_user_name %} <!--Only have the clear button appear when a store is selected-->
                <input type="submit" name="clear" value="Clear Filter"> <!--Clears the store filter-->
                {% endif %}
                <input type="submit">
            </form>
        </div>
    </section>
    <!--Second section which contains the less important information but is still useful-->
    <div class="sub-cont results"> <!--List of search results-->
        <div class="store-box">
            {% if request.session.access == "GENERAL_STAFF" and selected_store_id %}
            <h2>Store ID: {{ selected_store_id }}</h2>
            {% endif %}
            {% if selected_store_name %}
            <h2>Store Name: {{ selected_store_name }}</h2>
            {% endif %}

            {% for title, order_list in table_data.items %}
            <h3>{{ title }}</h3> <!--Display table name-->
            <table>
                <tbody>
                    <tr>
                        {% if 'No' not in title and request.session.access == "GENERAL_STAFF" %}
                        <th>Order ID</th>
                        <th>Order Creation Date</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                        <th>Car ID</th>
                        <th>Customer ID</th>
                        <th>Pickup Store ID</th>
                        <th>Return Store ID</th>
                        {% elif 'No' not in title and request.session.access == "CUSTOMER" %}
                        <th>Order Creation Date</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                        <th>Car</th>
                        <th>Pickup Store</th>
                        <th>Return Store</th>
                        {% endif %}
                    </tr>
                    {% for item in order_list %} <!--For Each order in the list of orders-->
                    <tr>
                        {% if request.session.access == "GENERAL_STAFF" %}
                        <td>{{ item.order_id }}</td>
                        <td>{{ item.create_date }}</td>
                        <td>{{ item.pickup_date }}</td>
                        <td>{{ item.return_date }}</td>
                        <td>{{ item.car_id }}</td>
                        <td>{{ item.customer_id }}</td>
                        <td>{{ item.pickup_store_id }}</td>
                        <td>{{ item.return_store_id }}</td>
                        {% else %}
                        <td>{{ item.create_date }}</td>
                        <td>{{ item.pickup_date }}</td>
                        <td>{{ item.return_date }}</td>
                        <td><b>{{ item.car.make_name }}<br>{{ item.car.model }}</b> ({{ item.car.series }} series)</td>
                        <td>{{ item.pickup_store.name }}</td>
                        <td>{{ item.return_store.name }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
