<!--The header of the document (main bar up the top) contains the navigation and the name of the website-->
    <header>
        <!--The name of the website (also links to the home page)-->
        <h1><a href="{% url 'vroom:index' %}">Vroom Car Rentals</a></h1>
        <!--Navigation bar (contains a list of navigation elements that take you to the coresponding page)-->
        <nav>
            <ul>
                <li><a href="{% url 'vroom:cars' %}">Cars</a></li>
                <li><a href="{% url 'vroom:stores' %}">Stores</a></li>
                {% if request.session.username != None %}
                {% if request.session.access == "GENERAL_STAFF" %}
                <li><a href="{% url 'vroom:viewcustomers' %}">Customers</a></li>
                <li><a href="{% url 'vroom:analytics' %}">Analytics</a></li>
                {% endif %}
                <li><a href="{% url 'vroom:storehistory' %}">Rental History</a></li>
                <li class="sign-up-btn"><a href="{% url 'vroom:logout' %}">Log Out</a></li>
                <b>Logged in as: {{request.session.username}}</b>
                {% else %} <!--Only shows the login button when no one is logged in-->
                <li><a href="{% url 'vroom:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
