{% extends "vroom/base.html" %}

{% block content %}
{% load static %}

<!--The main content of the webpage-->
    <main>
        <!--Log In form-->
        <form name="login" id="login" class="account-form" method="POST" action="{% url 'vroom:login' %}">
            <fieldset>
                <legend>Log In</legend>
                <p>Hi! Welcome to <span class="blue">Vroom Car Rentals.</span></p>
                <p>To access more features, please Log In.</p>
                {% csrf_token %}
                {% if id and password %}
                <p class="bad-login">Error: ID/Password was incorrect</p>
                {% endif %}
                <input type="text" name="id" placeholder="User ID" pattern="[0-9]*" required value="{{ id }}" />
                <input type="password" name="password" placeholder="Password" pattern="[^\n ]{5,}" title="Password should be 5 or more characters" required value="{{ password }}" />
                <input type="submit" value="Log In" />
            </fieldset>
        </form>
    </main>
{% endblock %}
