{% extends "vroom/base.html" %}

{% block content %}
{% load static %}

<main>
    <div class="sub-cont results">
        <h3>Stores</h3>
        <table>
            <tbody>
                <tr>
                    <th>Store Name</th>
                    {% if request.session.access == "GENERAL_STAFF" %}
                    <th>Store ID</th>
                    {% endif %}
                    <th>Address</th>
                    <th>Phone Number</th>
                </tr>
                {% for store in stores %}
                <tr>
                    <td>{{ store.name }}</td>
                    {% if request.session.access == "GENERAL_STAFF" %}
                    <td>{{ store.store_id }}</td>
                    {% endif %}
                    <td>{{ store.address }}</td>
                    <td>{{ store.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}